<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.HTML" version="22.5.0" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.15.0" targetFramework="net461" />
  <package id="HtmlToOpenXml.dll" version="2.3.0" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="20.1.0.59" targetFramework="net461" />
  <package id="Syncfusion.DocIO.WinForms" version="20.1.0.59" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="20.1.0.59" targetFramework="net461" />
  <package id="Syncfusion.OfficeChart.Base" version="20.1.0.59" targetFramework="net461" />
</packages>